// Estilos para el footer generales
footer {
  width: 100%;

  text-align: center;
  line-height: 2rem;
  font-size: 2rem;
  background-color: var(--text-color);
  color: var(--swiper-theme-color);

  img {
    margin: 1rem auto 0 auto;
    width: 10%;
    height: auto;
  }

  .footer-menu ul {
    display: flex;
    gap: 2rem;
    justify-content: center;

    li a {
      font-size: 0.9rem;
      color: var(--swiper-theme-color);
      text-decoration: underline;
    }
  }

  p {
    &:first-child {
      padding-top: 1rem;
    }
  }
}

// Reglas para modificar propiedades a pantallas mayores a 769px
@media (min-width: 769px) {
  footer {
    p,
    .footer-menu ul li a {
      font-size: 1.1rem;
    }

    img {
      max-width: 3.5rem;
    }

    .footer-menu ul {
      li a {
        font-size: 1.2rem;
      }
    }
  }
}
