// Estilos para el footer generales
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  line-height: 2rem;
  font-size: 1.2rem;
  background-color: var(--text-color);
  color: var(--swiper-theme-color);

  p {
    &:first-child {
      padding-top: 1rem;
    }
  }
}

// Reglas para modificar propiedades a pantallas mayores a 950px

@media (min-width: 650px) {
  p {
    font-size: 1.1rem;
  }
}
