// Estilos para el header generales
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.9rem;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}

header img {
  margin: 0 auto;
  width: 10%;
  height: auto;
}

// Estilo para el texto que se encentra en la cabecera con el nombre del personaje
.titulo {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: 'Grenze Gotisch';
}

// Estilo para barra de navegacion vertical
nav {
  ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  a {
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 500;
  }

  li.active {
    border-bottom: 1px solid var(--contrast-color);
  }
}

// Reglas para modificar propiedades a pantallas mayores a 769px
@media (min-width: 769px) {
  header img {
    max-width: 7.5rem;
  }

  .titulo {
    width: fit-content;
    display: inline;
    margin: 0 2rem;
    font-size: 4rem;
  }
  nav {
    ul {
      flex-direction: row;
      justify-content: flex-end;
      margin-right: 2rem;
      margin-bottom: 1.2rem;

      font-size: 4rem;

      li {
        margin-right: 3rem;

        a {
          font-size: 2rem;
        }
      }

      li.active {
        border-bottom: 3px solid var(--contrast-color);
      }
    }
  }
}
