//Estilos para el header generales
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.9rem;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}

//Estilo para el texto que sirve como Logo Ragnar
.logo {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: 'Grenze Gotisch';
}

//Estilo para barra de navegacion vertical
nav {
  ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  a {
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 500;
  }

  li.active {
    border-bottom: 1px solid var(--contrast-color);
  }
}

/* Reglas para modificar propiedades a pantallas mayores a 750px */

@media (min-width: 750px) {
  .logo {
    width: fit-content;
    display: inline;
    margin: 0 2rem;
    font-size: 4rem;
  }
  nav {
    ul {
      flex-direction: row;
      justify-content: flex-end;
      margin-right: 2rem;

      font-size: 4rem;

      li {
        margin-right: 3rem;
      }
    }
  }
}
