/* Regla para imagen de fonde index.html*/

.raven {
  width: 100%;
  height: 80vh;
  background-image: url(../assets/img/Raven_Banner.png);
  margin-top: 0.3rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Reglas para modificar propiedades a pantallas mayores a 950px */

@media (max-width: 650px) {
  div {
    background-position: top;
  }
}
