// Estructura principal del main de las paginas exectuando, index.html
.main-layout {
  width: 100%;
  margin-bottom: 8rem;
}

.sectionA {
  width: 100%;

  figure {
    width: 100%;

    figcaption {
      padding-right: 1rem;
    }
  }
}

.sectionB {
  width: 70%;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 2rem;

  ul {
    padding-left: 2rem;

    li {
      font-size: 1.8rem;
      list-style-type: square;
    }
  }

  h1,
  h2 {
    margin-bottom: 1rem;
    font-size: 3rem;
  }

  p {
    margin-bottom: 0.8rem;
    line-height: 2.8rem;
  }

  p,
  cite,
  em,
  span,
  li {
    color: var(--text-color);
    font-size: 1.8rem;
  }

  a {
    margin-left: 1.2rem;
    font-size: 1.8rem;
    color: var(--contrast-color);
    border-bottom: var(--contrast-color) 0.2rem dotted;

    &:hover {
      color: var(--text-color);
    }
  }

  img {
    display: block;
    max-width: 240px;
    margin: 0 auto;
  }
}

ul.indice {
  display: grid;
  margin-top: 5rem;
  gap: 2rem;

  li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.8rem;
    list-style-type: none;

    img {
      width: 5rem;
      height: 5rem;
      margin: 0;
      border-radius: 50px;
    }

    a {
      margin-left: 2rem;
      border-bottom: none;
    }
  }
}

figure {
  width: 60%;
  margin: 0 auto;
}

figcaption {
  width: 100%;
  margin: 0 auto 2rem auto;
  font-size: 0.8rem;
  text-align: right;
}

.sectionC {
  width: 10%;
  margin: 0 auto;
}

// Reglas para modificar propiedades a pantallas mayores a 769px
@media (min-width: 769px) {
  .sectionB {
    p,
    ul {
      width: 100%;
    }
  }
}

/*
------------------------------------------
En esta sección se dará formato al SWIPER 
complemento instalado por nmp 
------------------------------------------
*/

// Reglas para configuracion de imagenes de swiper
.swiper {
  width: 100%;
}

img {
  width: 100%;
  object-fit: cover;
}
