// Estructura principal del main de las paginas exectuando, index.html
.main-layout {
  display: flex;
  width: 100%;
  // margin: 2rem auto 0 auto;
  flex-direction: column;
  align-items: center;
}

.columnA {
  width: 100%;
  margin: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.columnB {
  width: 80%;
  margin-top: 4rem;
  margin-bottom: 2rem;

  ul {
    padding-left: 2rem;

    li {
      font-size: 1.8rem;
      list-style-type: square;
    }
  }

  h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
  }

  p {
    margin-bottom: 0.8rem;
    line-height: 2.8rem;
  }

  p,
  cite,
  em,
  span {
    color: var(--text-color);
    font-size: 1.8rem;
  }

  a {
    font-size: 1.8rem;
    color: var(--contrast-color);
    border-bottom: var(--contrast-color) 0.2rem dotted;

    &:hover {
      color: var(--text-color);
    }
  }
}

.columnC {
  width: 30%;
  margin: 0 auto;
}
figcaption {
  padding: 0.8rem;
  font-size: 0.8rem;
}

// Reglas para modificar propiedades a pantallas mayores a 769px
@media (min-width: 769px) {
  .main-layout {
    // display: flex;
    // flex-direction: row;
    // align-items: start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    align-items: start;
  }

  .columnA {
    width: 80%;
    figure {
      margin-top: 2rem;
    }
  }

  .columnB {
    p,
    ul {
      width: 90%;
    }
  }

  .columnC {
    grid-column: 2 / 2;
  }
}

/*
------------------------------------------
En esta sección se dará formato al SWIPER 
complemento instalado por nmp 
------------------------------------------
*/

// Reglas para configuracion de imagenes de swiper
.swiper {
  width: 100%;
}

img {
  width: 100%;
  object-fit: cover;
}
