@import url(./header.scss);
@import url(./footer.scss);
@import url(./index.scss);
@import url(./layout.scss);

/* Swiper CSS Styles/Size */
@import '../../node_modules/swiper/swiper-bundle.css';

// Definición de variables de color globales
// No se emplease la detonación de variables de Sass debido al cambio de color de flechas en Swipper
:root {
  --text-color: rgb(0, 0, 0);
  --contrast-color: rgb(189, 55, 0);
  --swiper-theme-color: #fff;
}

// Reset general de documento
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Noto Serif', serif;
}

// Set general de valores para selectores comunes

a {
  text-decoration: none;
}

a:hover {
  color: var(--contrast-color);
}

ul {
  list-style-type: none;
}

abbr {
  text-decoration: none;
}
