/* Swiper CSS Styles/Size */
@import '../../node_modules/swiper/swiper-bundle.css';

body {
  margin: 0;
}
.swiper {
  width: 100%;
  /* height: 300px; */
}

img {
  height: 255px;
  width: 100%;
  object-fit: cover;
}
